.footer .copyright {
  background-color: rgba(34, 34, 34, 1);
  width: 1020px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .copyright p {
  font-size: 8.65655pt;
  color: rgba(69, 69, 69, 255);
  padding-left: 39px;
}