@font-face {
  font-family: 'Lato Regular';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Black';
  src: url('/assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Maven Pro';
  src: url('/assets/fonts/Maven_Pro/MavenPro-Regular.ttf') format('truetype');
}

/*? fonts ?*/

.navigation a,
.hidden,
.submission {
  font-family: 'Lato Regular', sans-serif;
}

::placeholder,
.lacin {
  font-family: 'Lato Regular', sans-serif;
}

.naming h3, 
.subtitle,
.getintouch h3,
.getintouch p,
p.copyright {
  font-family: 'Maven Pro', sans-serif;
}