.navigation {
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  background-color: rgba(50, 50, 50, 1);
}

.hidden {
  margin: 0px;
  color: rgba(50, 50, 50, 1);
}

nav {
  width: 400px;
}

.navigation ul {
  margin-left: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  bottom: 7px;
  justify-content: center;
  align-items: center;
}

.navigation li {
  display: inherit;
}


.navigation a {
  text-transform: uppercase;
  font-size: 7.3pt;
  letter-spacing: -.2pt;
  word-spacing: -.1pt;
  font-weight: 500;
  color: rgba(245, 245, 245, 1);
  text-decoration: none;
  cursor: default;
}

.navigation a:hover {
  color: rgba(46, 179, 152, 255);
}

.triangle {
  margin: 0 -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 47px 0 47px;
  z-index: 10;
  position: relative;
  top: 39px;
  left: 46px;
  border-color: #333 transparent transparent transparent;
}

.portfolio {
  position: relative;
  left: 4px;
}

.about {
  position: relative;
  left: 6px;
}

.logo {
  margin: 0 10px;
  z-index: 11;
  display: inline;
  position: relative;
  right: 30px;
}

li .getinfo {
  width: 70px;
}

.dot {
  display: inline;
  margin-left: 11px;
  margin-right: 11px;
  font-size: 6px;
  color: rgba(106, 125, 168, 0.5);
}