.info {
  height: 315px;
  background-color: rgba(46, 179, 152, 1);
  display: block;
  padding: 13px 99px;
}

.wrap {
  display: flex;
}

.smith {
  padding: 51px 0;
}

/*! foto start !*/

.smithfoto {
  margin: 55px 20px;
}

.smithfoto img {
  position: relative;
  left: -121px;
}

/*! foto end !*/

.naming h3,
.lacin {
  color: rgba(215, 252, 245, 0.8);
}

.naming h3 {
  font-size: 22pt;
  font-weight: 100;
}

.smith .subtitle {
  color: rgba(32, 129, 109, 0.8);
  font-size: 13pt;
  font-weight: 100;
  word-spacing: 1px;
  padding-top: 5px;
}

.lacin {
  font-size: 8.2pt;
  line-height: 21px;
  letter-spacing: 0.26px;
  word-spacing: 0.3px;
  text-align: justify;
  padding-top: 14px;
}

/*? followbar ?*/

.followbar_wrapper {
  width: 580px;
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
  opacity: .7;
  filter: brightness(115%);
}

ul.social_list {
  display: flex;
  flex-direction: row;
}

.social_list a {
  cursor: default;
  color: rgba(46, 179, 152, 1);
}

.social_list li a:hover {
  padding: 0 5px;
  overflow: visible;
}