
@import "../stylesheets/font.css";
@import "../stylesheets/header.css";
@import "../stylesheets/hexacomb.css";
@import "../stylesheets/info.css";
@import "../stylesheets/footer.css";
@import "../stylesheets/cellar.css";
@import "../stylesheets/default.css";
@import "../stylesheets/border.css";
@import "../stylesheets/hexagon.css";

body {
  margin: 0;
  width: 1020px;
  min-width: 1020px;
  overflow: scroll;
  display: block;
}
