/*@font-face {
  font-family: 'fontello';
  src: url('../images/fontello/font/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  width: 1020px;
  min-width: 1020px;
  overflow: scroll;
  margin: 0;
  display: block;
}

/*? fonts ?*/

.navigation a,
.hidden,
.submission,
::placeholder,
.lacin {
  font-family: "Lato", sans-serif;
}

.naming h3, 
.subtitle,
.getintouch h3,
.getintouch p,
.footer .copyright p {
  font-family: "Maven Pro", sans-serif;
}

/** Здесь часть header**/

/*? navigation ?*/

.navigation {
  height: 63px;
  background-color: rgba(50, 50, 50, 1);
}

.hidden {
  color: rgba(50, 50, 50, 1);
  margin: 0px;
}

ul {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 100%;
  flex-direction: row;
}

/*! позиционирование li !*/
li {
  display: inherit;
}

li .blog, .getinfo {
  left: -42px;
}

.navigation li a {
  text-transform: uppercase;
  font-size: 7.5pt;
  line-height: 1.2;
  letter-spacing: 0.01px;
  font-weight: 900;
  color: rgba(245, 245, 245, 1);
  text-decoration: none;
  cursor: default;
  position: relative;
  bottom: 15px;
  right: 23px;
}

.navigation li a:hover {
  color: rgba(46, 179, 152, 255);
}

.navigation li .triangle {

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 47px 0 47px;
  border-color: #333 transparent transparent transparent;
  position: relative;
  z-index: 10;
}

.logo {
  width: 64px;
  height: 55px;
  position: relative;
  top: -35px;
  left: -80px;
}

/*? top border main ?*/

.navigation::before,
.navigation::after {
  position: absolute;
  content: '';
  width: 410px;
  min-width: 410px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 9;
}

.navigation::before {
  top: 74px;
  left: 30px;
}

.navigation::after {
  top: 74px;
  right: -40px;
}


.dot {
  color: rgba(106, 125, 168, 0.5);
  display: inline;
  font-size: 4px;
  margin-left: 10px;
  margin-right: 12px;
}

/** здесь часть main **/
main {
}

/*? здесь picturescomb ?*/

.picturescomb {
  background-color: rgba(255, 255, 255, 1);
  height: 721px;
  width: 1020px;
  right: 19px;
  position: relative;
}

.queenbeehive1 {
  display: flex;
  position: relative;
  top: 64px;
  justify-content: center;
  left: -2px;
}

.firstcomb li {
  flex-direction: row;
  margin: 10px 10px;
}

.fourimage {
  position: relative;
  right: 19px;
  bottom: 18px;
}

.queenbeehive2 {
  display: flex;
  position: relative;
  top: -17px;
  right: 11px;
}

.secondcomb li {
  justify-content: flex-start;
  margin: 0 10px;
}

.queenbeehive3 {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 88px;
  margin: 0 10px;
  right: 1px;
}

.thirdcomb li {
  margin: 0 10px;
}


/*! слой hexagon !*/

.hexagon {
  width: 180px;
  height: 207px;
  transform: rotate(120deg);
  overflow: hidden;
  background-position: 50%;
  visibility: hidden;
}

.hexlayer1 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
}

.hexlayer2 {
  width: 100%;
  height: 100%;
  background: rgba(209, 8, 8, 0.8);
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}

/*! конец слоя hexagon !*/



/*? здесь часть info ?*/

.info {
  width: 980px;
  height: 340px;
  background-color: rgba(46, 179, 152, 1);
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

/*! foto start !*/

.smithfoto {
  position: relative;
  float: left;
  top: 68px;
  right: -100px;
}

.smithfoto img {
  position: relative;
  left: -121px;
}

/*! foto end !*/

.naming h3,
.lacin {
  color: rgba(215, 252, 245, 0.8);
}

/*? smith ?*/

.naming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.naming h3 {
  font-size: 22pt;
  font-weight: 100;
  letter-spacing: 0.01px;
  position: relative;
  top: 32px;
  right: 68px;
}

.smith .subtitle {
  color: rgba(32, 129, 109, 0.8);
  font-size: 13pt;
  font-weight: 100;
  word-spacing: 1px;
  position: relative;
  bottom: 16px;
  right: 47px;
}

.lacin {
  width: 581px;
  font-size: 8.2pt;
  line-height: 21px;
  letter-spacing: 0.3px;
  word-spacing: 0.3px;
  text-align: justify;
  position: relative;
  left: 120px;
  bottom: 31px;
  width: 585px;
  height: 76px;
}

/*? followbar ?*/

.followbar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 404px;
  bottom: 12px;
  opacity: .4;
  filter: invert(70%);
}

.social_list a {
  cursor: default;
  color: rgba(46, 179, 152, 1);
}

.social_list li a:hover {
  padding: 0 5px;
  overflow: visible;
}

/*[class^="icon_"]:before, [class*=" icon_"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: 900;
  font-size: 17pt;
  width: 30px;
  height: 30px;
}

.icon_facebook::before {
  font-family: 'fontello';
  content: '\e804';
  width: 25px;
  height: 24px;
  color: #3b5999;
  background-color: white;
}

.icon_twitter::before {
  content: '\f304';
  width: 24px;
  height: 24px;
  color: #00acee;
  background-color: white;
}*/


/** здесь часть footer **/

.footer {
  background-color: rgba(50, 50, 50, 1);
  width: 1020px;
  height: 583px;
  display: inline-block;
  padding-top: 25px;
}

.getintouch {
  position: relative;
  border: 0 none;
  padding-left: 100px;
}

.getintouch h3, p {
  color: rgba(255, 255, 255, 1);
  text-align: left;
}

#name, #email, #textarea, #subject {
  background-color: rgba(69, 69, 69, 1);
  width: 560px;
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-direction: column;
  outline-color: #2eb398;
  color: #f5f5f5;
  padding-left: 14px;
}

#textarea {
  height: 150px;
  resize: none;
  overflow: auto;
  padding-top: 13px;
}

#name, #email, #subject {
  height: 38px;
}

/*? дизайн кнопки ?*/

.submission {
  width: 90px;
  height: 37px;
  background: #2eb398;
  text-align: center;
  color: #f5f5f5;
  font-size: 10pt;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}

.getintouch div {
  position: relative;
  left: 485px;
}

.submission:hover {
  background:#5fd49d;
  color: #2eb398;
  /*border: 1px solid #2eb398;*/
}

.submission:focus {
  outline: none;
}

/*? contacts ?*/

.contacts {
  
}

/*? подвал ?*/

.footer .copyright {
  background-color: rgba(34, 34, 34, 1);
  width: 1020px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  bottom: 0px;
}

.footer .copyright p {
  font-size: 8.65655pt;
  color: rgba(69, 69, 69, 255);
  padding-left: 39px;
}